<div class="col-xs-12 text-center">
  <h1><%= @cocktail.name %></h1>

  <ul class="list-unstyled">
    <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description  %> (<%= dose.ingredient.name %>)
      <%= link_to "Delete Dose", cocktail_dose_path(@cocktail, dose), method: :delete, class:"btn btn-danger" %>
    </li>
    <% end %>
  </ul>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder: "J'en veux plus" %>
    <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose an ingredient!" %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <%end %>



</div>

<div class="col-xs-12 text-center">
   <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, class:"btn btn-danger" %>
  <%= link_to "Back", cocktails_path, class:"btn btn-primary" %>
</div>

